<header class="header">

  <div class="overlay">

    <div class="container">

      <h1 class="title">
        <a href="{{ site.baseurl }}/">{{ site.title }}</a>
      </h1>

      <nav class="navbar">
        <a href="#" class="menu-icon">
          <span></span>
          <span></span>
          <span></span>
        </a>

        <ul class="nav">
          <li><a href="{{site.baseurl}}/about">about</a></li>
          <li><a href="{{site.baseurl}}/cv">cv</a></li>
          <li><a href="{{site.baseurl}}/project">project</a></li>
          <li><a href="{{site.baseurl}}/blog">blog</a></li>
        </ul>
      </nav>
    </div>

    {% if page.slug == 'home' %}
      <h2 class="txt-center">
        $echo Hello_
      </h2>
    {% endif %}

  </div>

</header>
